<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mapmapagain"
    android:versionCode="1"
    android:versionName="1.0" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <permission
        android:name="com.example.mapmapagain.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.mapmapagain.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/toilet_large"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- <uses-library android:name="com.google.android.maps" /> -->
        <!-- Add Google Map Library -->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
         
        <activity
            android:name="com.example.mapmapagain.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name="com.example.mapmapagain.AddLocation" />
        <activity android:name="com.example.mapmapagain.ListReview" />
        <activity android:name="com.example.mapmapagain.Preferences" />
        <activity
            android:name="com.example.mapmapagain.SplashScreen"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
                 <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
